*{
    box-sizing: border-box;
}

.first-conteiner{
    max-width: 1366px;
    padding: 0 15px;
    margin: 0 auto;
    background-image: url(../image/background-1.jpg);
}

.conteiner{
    max-width: 1050px;
    padding: 15px 10px;
    margin: 0 auto;
}

/* HEADING/////////// */


.heading{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.logo{
    display: flex;
    text-decoration: none;
    height: 47px;
    margin: 5px 0;
}

.logo-img{
    position: relative;
    width: 53px;
    transition: color 0.4s linear;
}

.logo-standart{
    width: 93%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s linear;
}

.logo-hover{
    width: 93%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s linear;
}


.logo-name{
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    transition: color 0.3s linear;
    align-items: flex-end;
}

.logo-name::first-line{
    font-size: 29px;
    line-height: 1;
}

.logo:hover .logo-name{
    color: #F26522;
}


.logo:hover .logo-hover{
    opacity: 1;
}

.logo:hover .logo-standart{
    opacity: 0;
}


.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.contact-link{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    text-decoration: none; 
    transition: color 0.4s linear;
    padding: 2px;
}

.contact-link:hover{
    color: #F26522;
}

/* TOURS//////////////////////// */


.tours{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    column-gap: 54px;
    row-gap: 37px;
}

.tours-item{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.content-img{
    position: relative;
    height: 220px;
    overflow: hidden;
}

.picture{
    width: 105%;
    height: 107%;
    display: inline-block;
    margin: -5px 0 0 -5px;
}



.content-hover{
    background-color: #F26522;
    padding: 7px 16px 12px;
    position: absolute;
    bottom: -53px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s linear, bottom 0.3s linear;
}

.tours-item:hover .content-hover{
    bottom: 0;
    opacity: 1;
}

.content-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}

.from{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 1;  
    font-weight: 400;
    color: #ffffff;
}

.prise{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
}

.details{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    
}

.details::after{
    padding-left: 16px;
    content: url('../image/Vector-1.png');
}

.content-caption{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    transition: color 0.3s linear;
}

.tours-item:hover .content-caption{
    color: #F26522;
}

/* FOOTER////////////////////// */

.footer{
    text-align: center;
    margin-top: 19px;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
}